
        <h1>Mitglied hinzufügen</h1>
        <form action="/add-member" method="post">
            <input type="text" name="mitgliedsnummer" value="{{ mitgliedsnummer }}" readonly><br>
            <input type="text" name="vorname" placeholder="Vorname"><br>
            <input type="text" name="nachname" placeholder="Nachname"><br>
            <input type="text" name="strasse" placeholder="Straße"><br>
            <input type="text" name="plz" placeholder="PLZ"><br>
            <input type="text" name="ort" placeholder="Ort"><br>
            <button type="submit">Speichern</button>
        </form>
    